.Home-body {
  font-weight: 500;
  margin: auto;
  text-align: justify;
  text-indent: 2em;
  width: 50%;
}

.Home-body-img-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Home-body-img {
  width: 50%;
}

@media only screen and ( max-width : 769px ) {

  .Home-body {
    width: 90%;
  }

  .Home-body-img {
    width: 80%;
  }
}
