.HomeCard-section {
  align-self: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.HomeCard-container {
  align-items: center;
  background-color: var(--secondaryBgColor);
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: visible;
  transition: ease-in-out, 0.8s;
  text-align: center;
  width: 100%;
}

.HomeCard-header-n-img {
  display: block;
  margin-left: 20%;
  padding: 10px;
}

.HomeCard-container:hover {
 border-radius: 20px 20px 50% 20px;
 background-color: var(--primaryBgColor);
}

.HomeCard-span {
  position: relative;
  visibility: hidden;
}

.HomeCard-container:hover .HomeCard-span {
 animation: fadeIn 1s forwards;
 visibility: visible;
 rotate: 45deg;
 }

 @keyframes fadeIn {
   from {
     transform: rotate(-20deg);
     left: 90%;
   }
   to {
     left: 10%;
   }
 }

 @media only screen and ( max-width : 441px ) {

  .ProjectCard-external-anchor-container a {
    box-sizing: content-box;
    display: flex;
    flex-flow: column wrap;
  }
}
