@import './abstracts/colors.scss';


:root {
  --primaryBgColor: #25262a;
  --secondaryBgColor: #5a4f94;
  --fontColor: white;
}

html {
  background-color: var(--primaryBgColor);
}

* {
  color: var(--fontColor);
}

.App {
  text-align: center;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
